@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    <tr>
        <th colspan="3">
            Valor da Carta
        </th>
    </tr>
    <tr>
        <th>
            De
        </th>
        <th>
            Ate
        </th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>